---
http_interactions:
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrders&LastUpdatedAfter=2013-06-12&MarketplaceId.Id.1=ATVPDKIKX0DER&OrderStatus.Status.1=Unshipped&OrderStatus.Status.2=PartiallyShipped&SellerId=A6WWS5LKYVEJ8&Signature=LhVlPE9bETBo7pikiIjDBoWLjZFO5cGEIwQk4Yr9Jd8=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-08-16T10:55:14-03:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Date:
      - Fri, 16 Aug 2013 13:16:55 GMT
      X-Mws-Request-Id:
      - 38b44b61-2556-46e1-bc96-17d56d8659dc
      X-Mws-Timestamp:
      - '2013-08-16T13:16:55.359Z'
      X-Mws-Response-Context:
      - 3B7/OormH/8Da0gE+FHzAlJ1hFb3kiAqnqGGr8bPFY5a2Cawp0QljKJaP/TPjJt4rpRtbGzZHZM=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <ListOrdersResponse xmlns="https://mws.amazonservices.com/Orders/2011-01-01">
          <ListOrdersResult>
            <LastUpdatedBefore>2013-08-16T13:14:55Z</LastUpdatedBefore>
            <Orders>
              <Order>
                <ShipmentServiceLevelCategory>Standard</ShipmentServiceLevelCategory>
                <OrderTotal>
                  <Amount>5.53</Amount>
                  <CurrencyCode>USD</CurrencyCode>
                </OrderTotal>
                <ShipServiceLevel>Std Cont US Street Addr</ShipServiceLevel>
                <MarketplaceId>ATVPDKIKX0DER</MarketplaceId>
                <ShippingAddress>
                  <Phone>2409971905</Phone>
                  <PostalCode>20837-3004</PostalCode>
                  <Name>Wesley Scott Ketchum</Name>
                  <CountryCode>US</CountryCode>
                  <StateOrRegion>MARYLAND</StateOrRegion>
                  <AddressLine1>19944 SPURRIER AVE</AddressLine1>
                  <City>POOLESVILLE</City>
                </ShippingAddress>
                <SalesChannel>Amazon.com</SalesChannel>
                <ShippedByAmazonTFM>false</ShippedByAmazonTFM>
                <OrderType>StandardOrder</OrderType>
                <FulfillmentChannel>MFN</FulfillmentChannel>
                <BuyerEmail>knsrqr1h8bkp9yh@marketplace.amazon.com</BuyerEmail>
                <OrderStatus>Unshipped</OrderStatus>
                <BuyerName>wes ketchum</BuyerName>
                <LastUpdateDate>2013-07-12T13:52:55Z</LastUpdateDate>
                <PurchaseDate>2013-07-12T13:22:40Z</PurchaseDate>
                <NumberOfItemsUnshipped>1</NumberOfItemsUnshipped>
                <AmazonOrderId>104-4489057-1313801</AmazonOrderId>
                <NumberOfItemsShipped>0</NumberOfItemsShipped>
                <PaymentMethod>Other</PaymentMethod>
              </Order>
              <Order>
                <ShipmentServiceLevelCategory>Standard</ShipmentServiceLevelCategory>
                <OrderTotal>
                  <Amount>10.51</Amount>
                  <CurrencyCode>USD</CurrencyCode>
                </OrderTotal>
                <ShipServiceLevel>Std Cont US Street Addr</ShipServiceLevel>
                <MarketplaceId>ATVPDKIKX0DER</MarketplaceId>
                <ShippingAddress>
                  <Phone[...]
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrderItems&AmazonOrderId=104-4489057-1313801&MarketplaceId.Id.1=ATVPDKIKX0DER&SellerId=A6WWS5LKYVEJ8&Signature=8Rkr7%2BjO4Lhmm1QksYTN5PmkgND3kONZpniPQ0xWBaE=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-08-16T10:55:14-03:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Date:
      - Fri, 16 Aug 2013 13:16:56 GMT
      X-Mws-Request-Id:
      - 965bfecd-ddc2-4241-865e-5d10f7fdaf8b
      X-Mws-Timestamp:
      - '2013-08-16T13:16:56.201Z'
      X-Mws-Response-Context:
      - Hk40A6v/05sXfrUIIpcDkgqvmg4la7+OegClxEWlr+m1tylpS4Waj50s0XMKxn2cbVJEsvviuvSS
        1oH3317qhA==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <ListOrderItemsResponse xmlns="https://mws.amazonservices.com/Orders/2011-01-01">
          <ListOrderItemsResult>
            <OrderItems>
              <OrderItem>
                <OrderItemId>04985691558298</OrderItemId>
                <GiftWrapPrice>
                  <Amount>0.00</Amount>
                  <CurrencyCode>USD</CurrencyCode>
                </GiftWrapPrice>
                <QuantityOrdered>1</QuantityOrdered>
                <GiftWrapTax>
                  <Amount>0.00</Amount>
                  <CurrencyCode>USD</CurrencyCode>
                </GiftWrapTax>
                <SellerSKU>OX-M0NP-AOD1</SellerSKU>
                <Title>Bakers &amp; Chefs Dinner Forks - 36 pcs.</Title>
                <ShippingTax>
                  <Amount>0.00</Amount>
                  <CurrencyCode>USD</CurrencyCode>
                </ShippingTax>
                <ShippingPrice>
                  <Amount>5.52</Amount>
                  <CurrencyCode>USD</CurrencyCode>
                </ShippingPrice>
                <ItemTax>
                  <Amount>0.00</Amount>
                  <CurrencyCode>USD</CurrencyCode>
                </ItemTax>
                <ItemPrice>
                  <Amount>0.01</Amount>
                  <CurrencyCode>USD</CurrencyCode>
                </ItemPrice>
                <PromotionDiscount>
                  <Amount>0.00</Amount>
                  <CurrencyCode>USD</CurrencyCode>
                </PromotionDiscount>
                <ConditionId>Refurbished</ConditionId>
                <ASIN>B003DQ25RE</ASIN>
                <QuantityShipped>0</QuantityShipped>
                <ConditionSubtypeId>Refurbished</ConditionSubtypeId>
                <ShippingDiscount>
                  <Amount>0.00</Amount>
                  <CurrencyCode>USD</CurrencyCode>
                </ShippingDiscount>
              </OrderItem>
            </OrderItems>
            <AmazonOrderId>104-4489057-1313801</AmazonOrderId>
          </ListOrderItemsResult>
          <ResponseMetadata>
            <RequestId>965bfecd-ddc2-4241-865e-5d10f7fdaf8b</RequestId>
          </ResponseMetadata>
        </ListOrderItemsResponse>
  recorded_at: Fri, 16 Aug 2013 13:55:14 GMT
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrderItems&AmazonOrderId=102-1580746-9061828&MarketplaceId.Id.1=ATVPDKIKX0DER&SellerId=A6WWS5LKYVEJ8&Signature=nfeRa2YzccWkcvzFEWxEDDBVSECouuwh9J3CVJKF2a8=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-08-16T10:55:14-03:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  respons[...]
