---
http_interactions:
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrders&CreatedAfter=2013-06-12&MarketplaceId.Id.1=ATVPDKIKX0DER&SellerId=A6WWS5LKYVEJ8&Signature=GgMSspMtCNwYY13KePXJNRorBnZ4HxeISJ4X0dnrgkE=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-06-25T15:27:18-04:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Date:
      - Tue, 25 Jun 2013 19:27:19 GMT
      X-Mws-Request-Id:
      - f78b93de-ea92-4564-96a9-489108967b2b
      X-Mws-Timestamp:
      - '2013-06-25T19:27:19.169Z'
      X-Mws-Response-Context:
      - K2BoOxclSebzGF86O7uwpmf3b+O+fr7PGGZD0wcWgLnihTizRhmLJszV7y6KU0G6aDzpxHXo670=
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n<ListOrdersResponse xmlns=\"https://mws.amazonservices.com/Orders/2011-01-01\">\n
        \ <ListOrdersResult>\n    <Orders>\n      <Order>\n        <ShipmentServiceLevelCategory>Standard</ShipmentServiceLevelCategory>\n
        \       <OrderTotal>\n          <Amount>8.79</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </OrderTotal>\n        <ShipServiceLevel>Std Cont US Street Addr</ShipServiceLevel>\n
        \       <MarketplaceId>ATVPDKIKX0DER</MarketplaceId>\n        <ShippingAddress>\n
        \         <Phone>2409971905</Phone>\n          <PostalCode>20837-3004</PostalCode>\n
        \         <Name>Wesley Scott Ketchum</Name>\n          <CountryCode>US</CountryCode>\n
        \         <StateOrRegion>MARYLAND</StateOrRegion>\n          <AddressLine1>19944
        SPURRIER AVE</AddressLine1>\n          <City>POOLESVILLE</City>\n        </ShippingAddress>\n
        \       <SalesChannel>Amazon.com</SalesChannel>\n        <ShippedByAmazonTFM>false</ShippedByAmazonTFM>\n
        \       <OrderType>StandardOrder</OrderType>\n        <BuyerEmail>knsrqr1h8bkp9yh@marketplace.amazon.com</BuyerEmail>\n
        \       <FulfillmentChannel>MFN</FulfillmentChannel>\n        <OrderStatus>Shipped</OrderStatus>\n
        \       <BuyerName>wes ketchum</BuyerName>\n        <LastUpdateDate>2013-06-17T21:41:33Z</LastUpdateDate>\n
        \       <PurchaseDate>2013-06-17T20:12:54Z</PurchaseDate>\n        <NumberOfItemsUnshipped>0</NumberOfItemsUnshipped>\n
        \       <NumberOfItemsShipped>5</NumberOfItemsShipped>\n        <AmazonOrderId>111-6494089-5358640</AmazonOrderId>\n
        \       <PaymentMethod>Other</PaymentMethod>\n      </Order>\n      <Order>\n
        \       <ShipmentServiceLevelCategory>Standard</ShipmentServiceLevelCategory>\n
        \       <OrderTotal>\n          <Amount>16.19</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </OrderTotal>\n        <ShipServiceLevel>Std Cont US Street Addr</ShipServiceLevel>\n
        \       <MarketplaceId>ATVPDKIKX0DER</MarketplaceId>\n        <ShippingAddress>\n
        \         <Phone>2409971905</Phone>\n          <[...]
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrderItems&AmazonOrderId=111-6494089-5358640&MarketplaceId.Id.1=ATVPDKIKX0DER&SellerId=A6WWS5LKYVEJ8&Signature=s7PqggJ6Y4U/pw/qqPyMC2yXOI0X7TPq7eUnN6Ojd5g=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-06-25T15:27:19-04:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Date:
      - Tue, 25 Jun 2013 19:27:19 GMT
      X-Mws-Request-Id:
      - 50340a2f-ac46-491e-b845-9f48f1a56a1b
      X-Mws-Timestamp:
      - '2013-06-25T19:27:19.777Z'
      X-Mws-Response-Context:
      - SnTsROierfL7azEppORD9YFL5ijwalLjT2E4xKFYpNHuro7pDP5UfYMyo0H+XxkhJhoaxwsaj49N
        3FDndNBCbg==
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n<ListOrderItemsResponse xmlns=\"https://mws.amazonservices.com/Orders/2011-01-01\">\n
        \ <ListOrderItemsResult>\n    <OrderItems>\n      <OrderItem>\n        <OrderItemId>23123885361914</OrderItemId>\n
        \       <GiftWrapPrice>\n          <Amount>0.00</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </GiftWrapPrice>\n        <QuantityOrdered>1</QuantityOrdered>\n        <GiftWrapTax>\n
        \         <Amount>0.00</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </GiftWrapTax>\n        <SellerSKU>G9-G942-D1LD</SellerSKU>\n        <Title>Munchkin
        5 Pack Multi Bowl</Title>\n        <ShippingTax>\n          <Amount>0.00</Amount>\n
        \         <CurrencyCode>USD</CurrencyCode>\n        </ShippingTax>\n        <ShippingPrice>\n
        \         <Amount>1.15</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </ShippingPrice>\n        <ItemTax>\n          <Amount>0.00</Amount>\n
        \         <CurrencyCode>USD</CurrencyCode>\n        </ItemTax>\n        <ItemPrice>\n
        \         <Amount>0.01</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </ItemPrice>\n        <PromotionDiscount>\n          <Amount>0.00</Amount>\n
        \         <CurrencyCode>USD</CurrencyCode>\n        </PromotionDiscount>\n
        \       <ASIN>B001G8HNAU</ASIN>\n        <ConditionId>New</ConditionId>\n
        \       <QuantityShipped>1</QuantityShipped>\n        <ConditionSubtypeId>New</ConditionSubtypeId>\n
        \       <ShippingDiscount>\n          <Amount>0.00</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </ShippingDiscount>\n      </OrderItem>\n      <OrderItem>\n        <OrderItemId>58145946945682</OrderItemId>\n
        \       <GiftWrapPrice>\n          <Amount>0.00</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </GiftWrapPrice>\n        <QuantityOrdered>3</QuantityOrdered>\n        <GiftWrapTax>\n
        \         <Amount>0.00</Amount>\n          <CurrencyCode>USD</Currenc[...]
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrderItems&AmazonOrderId=111-2374817-1293015&MarketplaceId.Id.1=ATVPDKIKX0DER&SellerId=A6WWS5LKYVEJ8&Signature=%2Bs87zpGtAZfGdZ1Tc5sLu7L5FsX59KJK5p8tocSlUug=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-06-25T15:27:20-04:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  respo[...]
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrders&CreatedAfter=2013-06-12&MarketplaceId.Id.1=ATVPDKIKX0DER&SellerId=A6WWS5LKYVEJ8&Signature=rojEFSm8rIvOfIIelN0dwrIEKXLqUfwW01OY4WNRO1o=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-06-25T15:28:41-04:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  response:
    status:[...]
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrderItems&AmazonOrderId=111-6494089-5358640&MarketplaceId.Id.1=ATVPDKIKX0DER&SellerId=A6WWS5LKYVEJ8&Signature=quVDNjNkFI7iYtZ%2BaHEreljMsCXfFKMNOWw9OJsZhnQ=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-06-25T15:28:42-04:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  respo[...]
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrderItems&AmazonOrderId=111-2374817-1293015&MarketplaceId.Id.1=ATVPDKIKX0DER&SellerId=A6WWS5LKYVEJ8&Signature=VuR2s1TbEt3/Ymcvu22ZqXxhZSKeiUDUhUrMSJJCsDE=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-06-25T15:28:43-04:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  respons[...]
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrders&CreatedAfter=2013-06-12&MarketplaceId.Id.1=ATVPDKIKX0DER&SellerId=A6WWS5LKYVEJ8&Signature=Gs/63l0YM5wXWI9AjNmDLnD/8GJZSCeNcfn69MwaAtI=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-06-25T15:29:58-04:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  response:
    status:[...]
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrderItems&AmazonOrderId=111-6494089-5358640&MarketplaceId.Id.1=ATVPDKIKX0DER&SellerId=A6WWS5LKYVEJ8&Signature=Ex/oGAbcN1hwvlIxYPHLFw2EI%2BP9h4mpetIrZSWMmUs=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-06-25T15:29:59-04:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  respo[...]
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrderItems&AmazonOrderId=111-2374817-1293015&MarketplaceId.Id.1=ATVPDKIKX0DER&SellerId=A6WWS5LKYVEJ8&Signature=cyvRXR6HidUpn/tDrYCDs0Uk%2BpliX7H58FlHuJusl1M=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-06-25T15:30:00-04:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  respo[...]
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrders&CreatedAfter=2013-06-12&MarketplaceId.Id.1=ATVPDKIKX0DER&SellerId=A6WWS5LKYVEJ8&Signature=rV33ku/cg3FoBNTG%2B3I1cWT5K86r8cHTGby0mvQRNms=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-06-25T15:31:18-04:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  response:
    statu[...]
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrderItems&AmazonOrderId=111-6494089-5358640&MarketplaceId.Id.1=ATVPDKIKX0DER&SellerId=A6WWS5LKYVEJ8&Signature=r0cjWa4JsBKAcc2ksWJpFY5y0DRX7Pu/kUWKeJhj7TE=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-06-25T15:31:19-04:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  respons[...]
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrderItems&AmazonOrderId=111-2374817-1293015&MarketplaceId.Id.1=ATVPDKIKX0DER&SellerId=A6WWS5LKYVEJ8&Signature=ud/MR1Td3aUdHATKpeb7szbhW6NAQjK1FOHSTQuM3CM=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-06-25T15:31:19-04:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  respons[...]
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrders&CreatedAfter=2013-06-12&MarketplaceId.Id.1=ATVPDKIKX0DER&SellerId=A6WWS5LKYVEJ8&Signature=Pn38lJRIbEJn/kEY4Z3G/SJFHHFStTCTtffg/tUb1n4=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-06-25T15:35:31-04:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  response:
    status:[...]
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrderItems&AmazonOrderId=111-6494089-5358640&MarketplaceId.Id.1=ATVPDKIKX0DER&SellerId=A6WWS5LKYVEJ8&Signature=/RZW7cHtj3GFGtg/SBZLyNNLcgx0scwhoszuzvnaAQY=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-06-25T15:35:32-04:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  respons[...]
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrderItems&AmazonOrderId=111-2374817-1293015&MarketplaceId.Id.1=ATVPDKIKX0DER&SellerId=A6WWS5LKYVEJ8&Signature=5Xyz8/Hwd2czCn5Kt9F7%2B8/mE5BVo2nqaiwStCL12r8=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-06-25T15:35:33-04:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  respo[...]
