---
http_interactions:
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrders&CreatedAfter=2013-06-18&MarketplaceId.Id.1=ATVPDKIKX0DER&SellerId=A6WWS5LKYVEJ8&Signature=Nc5nWd%2BbqbWUfyfVtNFCrYCxyXPNP7bbyGfDKdyZ5%2Bo=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-07-02T16:23:22-04:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Date:
      - Tue, 02 Jul 2013 20:26:50 GMT
      X-Mws-Request-Id:
      - 2b071b80-f3d0-4211-ba2e-ef0b9eb8132a
      X-Mws-Timestamp:
      - '2013-07-02T20:26:50.412Z'
      X-Mws-Response-Context:
      - Y0oyv+tEevuZgOH7UcydWCry2tJvKhOLCdQjiYgvZgjSfwSyRJvegFP2ED1yKliwf7kkHPpoaMU=
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n<ListOrdersResponse xmlns=\"https://mws.amazonservices.com/Orders/2011-01-01\">\n
        \ <ListOrdersResult>\n    <Orders>\n      <Order>\n        <ShipmentServiceLevelCategory>Standard</ShipmentServiceLevelCategory>\n
        \       <OrderTotal>\n          <Amount>16.19</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </OrderTotal>\n        <ShipServiceLevel>Std Cont US Street Addr</ShipServiceLevel>\n
        \       <MarketplaceId>ATVPDKIKX0DER</MarketplaceId>\n        <ShippingAddress>\n
        \         <Phone>2409971905</Phone>\n          <PostalCode>20837-3004</PostalCode>\n
        \         <Name>Wesley Scott Ketchum</Name>\n          <CountryCode>US</CountryCode>\n
        \         <StateOrRegion>MARYLAND</StateOrRegion>\n          <AddressLine1>19944
        SPURRIER AVE</AddressLine1>\n          <City>POOLESVILLE</City>\n        </ShippingAddress>\n
        \       <SalesChannel>Amazon.com</SalesChannel>\n        <ShippedByAmazonTFM>false</ShippedByAmazonTFM>\n
        \       <OrderType>StandardOrder</OrderType>\n        <BuyerEmail>knsrqr1h8bkp9yh@marketplace.amazon.com</BuyerEmail>\n
        \       <FulfillmentChannel>MFN</FulfillmentChannel>\n        <OrderStatus>Unshipped</OrderStatus>\n
        \       <BuyerName>wes ketchum</BuyerName>\n        <LastUpdateDate>2013-06-19T17:45:49Z</LastUpdateDate>\n
        \       <PurchaseDate>2013-06-19T17:15:29Z</PurchaseDate>\n        <NumberOfItemsUnshipped>2</NumberOfItemsUnshipped>\n
        \       <NumberOfItemsShipped>0</NumberOfItemsShipped>\n        <AmazonOrderId>111-2374817-1293015</AmazonOrderId>\n
        \       <PaymentMethod>Other</PaymentMethod>\n      </Order>\n    </Orders>\n
        \   <CreatedBefore>2013-07-02T20:24:50Z</CreatedBefore>\n  </ListOrdersResult>\n
        \ <ResponseMetadata>\n    <RequestId>2b071b80-f3d0-4211-ba2e-ef0b9eb8132a</RequestId>\n
        \ </ResponseMetadata>\n</ListOrdersResponse>\n"
  recorded_at: Tue, 02 Jul 2013 20:23:22 GMT
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrderItems&AmazonOrderId=111-2374817-1293015&MarketplaceId.Id.1=ATVPDKIKX0DER&SellerId=A6WWS5LKYVEJ8&Signature=fhItOxN%2BDsLnututsKMjRAt4MLR0CmfctpNIZclnfmg=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-07-02T16:23:22-04:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Date:
      - Tue, 02 Jul 2013 20:26:50 GMT
      X-Mws-Request-Id:
      - 015f67ef-2f27-41b5-99b7-7706387cdc73
      X-Mws-Timestamp:
      - '2013-07-02T20:26:50.714Z'
      X-Mws-Response-Context:
      - 3jYSuFb4I451gigbuPpQYJwsGxLwMTTkzmOybWE+PGxz49CftwTjQVuirvu7jQuigaon7GnBWckd
        Edwzv7thCw==
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n<ListOrderItemsResponse xmlns=\"https://mws.amazonservices.com/Orders/2011-01-01\">\n
        \ <ListOrderItemsResult>\n    <OrderItems>\n      <OrderItem>\n        <OrderItemId>01029183238402</OrderItemId>\n
        \       <GiftWrapPrice>\n          <Amount>0.00</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </GiftWrapPrice>\n        <QuantityOrdered>1</QuantityOrdered>\n        <GiftWrapTax>\n
        \         <Amount>0.00</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </GiftWrapTax>\n        <SellerSKU>SV-Q5JI-31JT</SellerSKU>\n        <Title>10
        Strawberry Street Catering Set 10-1/2-Inch Dinner Plate, Set of 12</Title>\n
        \       <ShippingTax>\n          <Amount>0.00</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </ShippingTax>\n        <ShippingPrice>\n          <Amount>13.75</Amount>\n
        \         <CurrencyCode>USD</CurrencyCode>\n        </ShippingPrice>\n        <ItemTax>\n
        \         <Amount>0.00</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </ItemTax>\n        <ItemPrice>\n          <Amount>0.01</Amount>\n
        \         <CurrencyCode>USD</CurrencyCode>\n        </ItemPrice>\n        <PromotionDiscount>\n
        \         <Amount>0.00</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </PromotionDiscount>\n        <ASIN>B002LAAFYS</ASIN>\n        <ConditionId>Refurbished</ConditionId>\n
        \       <QuantityShipped>0</QuantityShipped>\n        <ConditionSubtypeId>Refurbished</ConditionSubtypeId>\n
        \       <ShippingDiscount>\n          <Amount>0.00</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </ShippingDiscount>\n      </OrderItem>\n      <OrderItem>\n        <OrderItemId>35505926518458</OrderItemId>\n
        \       <GiftWrapPrice>\n          <Amount>0.00</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </GiftWrapPrice>\n        <QuantityOrdered>1</QuantityOrdered>\n        <GiftWrapTax>\n
        \         <Amount>0.00</Amount>\n          <CurrencyCode>USD</Currenc[...]
