---
http_interactions:
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrders&CreatedAfter=2013-07-12T13:52:55Z&MarketplaceId.Id.1=ATVPDKIKX0DER&OrderStatus.Status.1=Unshipped&OrderStatus.Status.2=PartiallyShipped&OrderStatus.Status.3=Shipped&SellerId=A6WWS5LKYVEJ8&Signature=K6N0eNiMo4P4%2BW60uBfleJIylSChluegnt6JlWfKMag=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-07-12T14:15:08-04:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Date:
      - Fri, 12 Jul 2013 18:21:08 GMT
      X-Mws-Request-Id:
      - 6816fc1b-0d47-4a4a-b8ab-934c228affca
      X-Mws-Timestamp:
      - '2013-07-12T18:21:08.141Z'
      X-Mws-Response-Context:
      - vdzSKud0kssnOawAp9psDBEibNT3v43qHUpD+zRs5zkPCgxVHBs4qp9+MxFniVj2/VBvwEAA3lY5
        Rin4aYcfEA==
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n<ListOrdersResponse xmlns=\"https://mws.amazonservices.com/Orders/2011-01-01\">\n
        \ <ListOrdersResult>\n    <Orders/>\n    <CreatedBefore>2013-07-12T18:19:08Z</CreatedBefore>\n
        \ </ListOrdersResult>\n  <ResponseMetadata>\n    <RequestId>6816fc1b-0d47-4a4a-b8ab-934c228affca</RequestId>\n
        \ </ResponseMetadata>\n</ListOrdersResponse>\n"
  recorded_at: Fri, 12 Jul 2013 18:15:08 GMT
recorded_with: VCR 2.5.0
