---
http_interactions:
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrders&LastUpdatedAfter=2013-08-16T09:55:14Z&MarketplaceId.Id.1=ATVPDKIKX0DER&OrderStatus.Status.1=Unshipped&OrderStatus.Status.2=PartiallyShipped&SellerId=A6WWS5LKYVEJ8&Signature=Q%2BRN2E79CfQP8biNfidOZH6DPp/iVETrv8duqCe4FsI=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-08-16T10:55:14-03:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Date:
      - Fri, 16 Aug 2013 13:17:32 GMT
      X-Mws-Request-Id:
      - 6ff69241-e888-4529-a2ad-5308d0617d4a
      X-Mws-Timestamp:
      - '2013-08-16T13:17:32.393Z'
      X-Mws-Response-Context:
      - mxXeVOEDq9xMPy2/H+OB7sNGwq30QV/6gWIJRFrlMGHEByTTp+OyU7pk4Fx4WJDYGmJ+JisRTx8=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <ListOrdersResponse xmlns="https://mws.amazonservices.com/Orders/2011-01-01">
          <ListOrdersResult>
            <LastUpdatedBefore>2013-08-16T13:15:32Z</LastUpdatedBefore>
            <Orders/>
          </ListOrdersResult>
          <ResponseMetadata>
            <RequestId>6ff69241-e888-4529-a2ad-5308d0617d4a</RequestId>
          </ResponseMetadata>
        </ListOrdersResponse>
  recorded_at: Fri, 16 Aug 2013 13:55:14 GMT
recorded_with: VCR 2.5.0
