---
http_interactions:
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrders&LastUpdatedAfter=2013-07-12T13:58:55Z&MarketplaceId.Id.1=ATVPDKIKX0DER&OrderStatus.Status.1=Unshipped&OrderStatus.Status.2=PartiallyShipped&OrderStatus.Status.3=Shipped&SellerId=A6WWS5LKYVEJ8&Signature=Lx/QXpy6HrlRYFHOA2iDOgjXQEUYjFjqcLEwFZds6ZU=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-07-12T14:35:14-04:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Date:
      - Fri, 12 Jul 2013 18:38:03 GMT
      X-Mws-Request-Id:
      - cf33685f-9b76-4a46-9cc0-ab1fee503827
      X-Mws-Timestamp:
      - '2013-07-12T18:38:02.958Z'
      X-Mws-Response-Context:
      - 7z3O/5DlE0LVNzojA8EiO5Q4KE6MCylX7wxjhUuhLoYYPNmRebTQPVZiA7BbOm9ewxK49uZVBb0=
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n<ListOrdersResponse xmlns=\"https://mws.amazonservices.com/Orders/2011-01-01\">\n
        \ <ListOrdersResult>\n    <LastUpdatedBefore>2013-07-12T18:36:02Z</LastUpdatedBefore>\n
        \   <Orders/>\n  </ListOrdersResult>\n  <ResponseMetadata>\n    <RequestId>cf33685f-9b76-4a46-9cc0-ab1fee503827</RequestId>\n
        \ </ResponseMetadata>\n</ListOrdersResponse>\n"
  recorded_at: Fri, 12 Jul 2013 18:35:14 GMT
recorded_with: VCR 2.5.0
