---
http_interactions:
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrders&CreatedAfter=2013-06-12&MarketplaceId.Id.1=ATVPDKIKX0DER&SellerId=A6WWS5LKYVEJ8&Signature=Mhh6ZcB%2B/7qX8HTeexcvyBXS%2Bj1PWxibdkMeJKW4TO0=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-07-02T16:23:22-04:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Date:
      - Tue, 02 Jul 2013 20:26:49 GMT
      X-Mws-Request-Id:
      - 2f7aca58-eaa2-42fb-a347-f8cf12d20ee2
      X-Mws-Timestamp:
      - '2013-07-02T20:26:49.309Z'
      X-Mws-Response-Context:
      - Zb3zfXW2epaENrw6cuWyUiphw2/6PwukoeFhInKt/QQVUEkatw9R2d2k48KbBpsuHCoVnt26uWE=
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n<ListOrdersResponse xmlns=\"https://mws.amazonservices.com/Orders/2011-01-01\">\n
        \ <ListOrdersResult>\n    <Orders>\n      <Order>\n        <ShipmentServiceLevelCategory>Standard</ShipmentServiceLevelCategory>\n
        \       <OrderTotal>\n          <Amount>8.79</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </OrderTotal>\n        <ShipServiceLevel>Std Cont US Street Addr</ShipServiceLevel>\n
        \       <MarketplaceId>ATVPDKIKX0DER</MarketplaceId>\n        <ShippingAddress>\n
        \         <Phone>2409971905</Phone>\n          <PostalCode>20837-3004</PostalCode>\n
        \         <Name>Wesley Scott Ketchum</Name>\n          <CountryCode>US</CountryCode>\n
        \         <StateOrRegion>MARYLAND</StateOrRegion>\n          <AddressLine1>19944
        SPURRIER AVE</AddressLine1>\n          <City>POOLESVILLE</City>\n        </ShippingAddress>\n
        \       <SalesChannel>Amazon.com</SalesChannel>\n        <ShippedByAmazonTFM>false</ShippedByAmazonTFM>\n
        \       <OrderType>StandardOrder</OrderType>\n        <BuyerEmail>knsrqr1h8bkp9yh@marketplace.amazon.com</BuyerEmail>\n
        \       <FulfillmentChannel>MFN</FulfillmentChannel>\n        <OrderStatus>Shipped</OrderStatus>\n
        \       <BuyerName>wes ketchum</BuyerName>\n        <LastUpdateDate>2013-06-17T21:41:33Z</LastUpdateDate>\n
        \       <PurchaseDate>2013-06-17T20:12:54Z</PurchaseDate>\n        <NumberOfItemsUnshipped>0</NumberOfItemsUnshipped>\n
        \       <NumberOfItemsShipped>5</NumberOfItemsShipped>\n        <AmazonOrderId>111-6494089-5358640</AmazonOrderId>\n
        \       <PaymentMethod>Other</PaymentMethod>\n      </Order>\n      <Order>\n
        \       <ShipmentServiceLevelCategory>Standard</ShipmentServiceLevelCategory>\n
        \       <OrderTotal>\n          <Amount>16.19</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </OrderTotal>\n        <ShipServiceLevel>Std Cont US Street Addr</ShipServiceLevel>\n
        \       <MarketplaceId>ATVPDKIKX0DER</MarketplaceId>\n        <ShippingAddress>\n
        \         <Phone>2409971905</Phone>\n          <[...]
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrderItems&AmazonOrderId=111-6494089-5358640&MarketplaceId.Id.1=ATVPDKIKX0DER&SellerId=A6WWS5LKYVEJ8&Signature=4eFGhpru5axYNZweOAyqm3MFVf5K/EzmcCMuIjYex2w=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-07-02T16:23:22-04:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Date:
      - Tue, 02 Jul 2013 20:26:49 GMT
      X-Mws-Request-Id:
      - c15590a9-140e-4b77-8954-ee582fc0687c
      X-Mws-Timestamp:
      - '2013-07-02T20:26:49.659Z'
      X-Mws-Response-Context:
      - IMGo8PokGkdA9sL71oy6Zn5uDUKda4X2pstFOFU+PbOyL5bH2a7zSU2wwfk7cNeBlXGNsw8HADTq
        skKnj7aKsA==
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n<ListOrderItemsResponse xmlns=\"https://mws.amazonservices.com/Orders/2011-01-01\">\n
        \ <ListOrderItemsResult>\n    <OrderItems>\n      <OrderItem>\n        <OrderItemId>23123885361914</OrderItemId>\n
        \       <GiftWrapPrice>\n          <Amount>0.00</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </GiftWrapPrice>\n        <QuantityOrdered>1</QuantityOrdered>\n        <GiftWrapTax>\n
        \         <Amount>0.00</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </GiftWrapTax>\n        <SellerSKU>G9-G942-D1LD</SellerSKU>\n        <Title>Munchkin
        5 Pack Multi Bowl</Title>\n        <ShippingTax>\n          <Amount>0.00</Amount>\n
        \         <CurrencyCode>USD</CurrencyCode>\n        </ShippingTax>\n        <ShippingPrice>\n
        \         <Amount>1.15</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </ShippingPrice>\n        <ItemTax>\n          <Amount>0.00</Amount>\n
        \         <CurrencyCode>USD</CurrencyCode>\n        </ItemTax>\n        <ItemPrice>\n
        \         <Amount>0.01</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </ItemPrice>\n        <PromotionDiscount>\n          <Amount>0.00</Amount>\n
        \         <CurrencyCode>USD</CurrencyCode>\n        </PromotionDiscount>\n
        \       <ASIN>B001G8HNAU</ASIN>\n        <ConditionId>New</ConditionId>\n
        \       <QuantityShipped>1</QuantityShipped>\n        <ConditionSubtypeId>New</ConditionSubtypeId>\n
        \       <ShippingDiscount>\n          <Amount>0.00</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </ShippingDiscount>\n      </OrderItem>\n      <OrderItem>\n        <OrderItemId>58145946945682</OrderItemId>\n
        \       <GiftWrapPrice>\n          <Amount>0.00</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </GiftWrapPrice>\n        <QuantityOrdered>3</QuantityOrdered>\n        <GiftWrapTax>\n
        \         <Amount>0.00</Amount>\n          <CurrencyCode>USD</Currenc[...]
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrderItems&AmazonOrderId=111-2374817-1293015&MarketplaceId.Id.1=ATVPDKIKX0DER&SellerId=A6WWS5LKYVEJ8&Signature=fhItOxN%2BDsLnututsKMjRAt4MLR0CmfctpNIZclnfmg=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-07-02T16:23:22-04:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  respo[...]
