---
http_interactions:
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrders&LastUpdatedAfter=2013-07-15&MarketplaceId.Id.1=ATVPDKIKX0DER&OrderStatus.Status.1=Unshipped&OrderStatus.Status.2=PartiallyShipped&SellerId=A6WWS5LKYVEJ8&Signature=qm9gHIOdVEfYIqytckmV1yS9y4jxA0pFZgTzt%2BNFOa8=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-08-16T10:55:14-03:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Date:
      - Fri, 16 Aug 2013 13:17:15 GMT
      X-Mws-Request-Id:
      - b8b8a99f-b35a-4715-b83c-f3a9a8fea79d
      X-Mws-Timestamp:
      - '2013-08-16T13:17:15.330Z'
      X-Mws-Response-Context:
      - FUB/hk2PyjCRm1LUd6ZXIebJRhhTypI+XKSXqgc0ZZDqJ7Y1g+vz6giFT/C+Q3E26NYJF6e8jIIq
        o/notpag+g==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <ListOrdersResponse xmlns="https://mws.amazonservices.com/Orders/2011-01-01">
          <ListOrdersResult>
            <LastUpdatedBefore>2013-08-16T13:15:15Z</LastUpdatedBefore>
            <Orders>
              <Order>
                <ShipmentServiceLevelCategory>Standard</ShipmentServiceLevelCategory>
                <OrderTotal>
                  <Amount>10.51</Amount>
                  <CurrencyCode>USD</CurrencyCode>
                </OrderTotal>
                <ShipServiceLevel>Std Cont US Street Addr</ShipServiceLevel>
                <MarketplaceId>ATVPDKIKX0DER</MarketplaceId>
                <SalesChannel>Amazon.com</SalesChannel>
                <ShippingAddress>
                  <Phone>571-213-3103</Phone>
                  <PostalCode>20175</PostalCode>
                  <Name>Chris Mar</Name>
                  <CountryCode>US</CountryCode>
                  <StateOrRegion>VA</StateOrRegion>
                  <AddressLine1>112 Alpine Dr</AddressLine1>
                  <City>Leesburg</City>
                </ShippingAddress>
                <ShippedByAmazonTFM>false</ShippedByAmazonTFM>
                <OrderType>StandardOrder</OrderType>
                <BuyerEmail>ht8hmlj3gd4zp9v@marketplace.amazon.com</BuyerEmail>
                <FulfillmentChannel>MFN</FulfillmentChannel>
                <OrderStatus>Unshipped</OrderStatus>
                <BuyerName>Christopher Mar</BuyerName>
                <LastUpdateDate>2013-08-02T16:42:51Z</LastUpdateDate>
                <PurchaseDate>2013-08-02T16:12:37Z</PurchaseDate>
                <NumberOfItemsUnshipped>2</NumberOfItemsUnshipped>
                <NumberOfItemsShipped>0</NumberOfItemsShipped>
                <PaymentMethod>Other</PaymentMethod>
                <AmazonOrderId>102-1580746-9061828</AmazonOrderId>
              </Order>
            </Orders>
          </ListOrdersResult>
          <ResponseMetadata>
            <RequestId>b8b8a99f-b35a-4715-b83c-f3a9a8fea79d</RequestId>
          </ResponseMetadata>
        </ListOrdersResponse>
  recorded_at: Fri, 16 Aug 2013 13:55:14 GMT
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrderItems&AmazonOrderId=102-1580746-9061828&MarketplaceId.Id.1=ATVPDKIKX0DER&SellerId=A6WWS5LKYVEJ8&Signature=nfeRa2YzccWkcvzFEWxEDDBVSECouuwh9J3CVJKF2a8=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-08-16T10:55:14-03:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Date:
      - Fri, 16 Aug 2013 13:17:16 GMT
      X-Mws-Request-Id:
      - ef9f4362-3c79-404a-a6ef-f69a48094c05
      X-Mws-Timestamp:
      - '2013-08-16T13:17:16.156Z'
      X-Mws-Response-Context:
      - yxbgZzwxoJAfznR7VyHePvzdb11kZ8Nj1cX24nG3G0tLtaqUGFHk3DdW6VhlYixQBtsFT75YTg4=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <ListOrderItemsResponse xmlns="https://mws.amazonservices.com/Orders/2011-01-01">
          <ListOrderItemsResult>
            <OrderItems>
              <OrderItem>
                <OrderItemId>36568380816218</OrderItemId>
                <GiftWrapPrice>
                  <Amount>0.00</Amount>
                  <CurrencyCode>USD</CurrencyCode>
                </GiftWrapPrice>
                <QuantityOrdered>2</QuantityOrdered>
                <GiftWrapTax>
                  <Amount>0.00</Amount>
                  <CurrencyCode>USD</CurrencyCode>
                </GiftWrapTax>
                <SellerSKU>TN-A5IR-FXBG</SellerSKU>
                <Title>Ginsu 04817 International Traditions 14-Piece Knife Set with Block, Natural</Title>
                <ShippingTax>
                  <Amount>0.00</Amount>
                  <CurrencyCode>USD</CurrencyCode>
                </ShippingTax>
                <ShippingPrice>
                  <Amount>10.49</Amount>
                  <CurrencyCode>USD</CurrencyCode>
                </ShippingPrice>
                <ItemTax>
                  <Amount>0.00</Amount>
                  <CurrencyCode>USD</CurrencyCode>
                </ItemTax>
                <ItemPrice>
                  <Amount>0.02</Amount>
                  <CurrencyCode>USD</CurrencyCode>
                </ItemPrice>
                <PromotionDiscount>
                  <Amount>0.00</Amount>
                  <CurrencyCode>USD</CurrencyCode>
                </PromotionDiscount>
                <ConditionId>Refurbished</ConditionId>
                <ASIN>B0006TJ7HM</ASIN>
                <QuantityShipped>0</QuantityShipped>
                <ConditionSubtypeId>Refurbished</ConditionSubtypeId>
                <ShippingDiscount>
                  <Amount>0.00</Amount>
                  <CurrencyCode>USD</CurrencyCode>
                </ShippingDiscount>
              </OrderItem>
            </OrderItems>
            <AmazonOrderId>102-1580746-9061828</AmazonOrderId>
          </ListOrderItemsResult>
          <ResponseMetadata>
            <RequestId>ef9f4362-3c79-404a-a6ef-f69a48094c05</RequestId>
          </ResponseMetadata>
        </ListOrderItemsResponse>
  recorded_at: Fri, 16 Aug 2013 13:55:14 GMT
recorded_with: VCR 2.5.0
