---
http_interactions:
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrders&LastUpdatedAfter=2013-07-11&MarketplaceId.Id.1=ATVPDKIKX0DER&OrderStatus.Status.1=Unshipped&OrderStatus.Status.2=PartiallyShipped&OrderStatus.Status.3=Shipped&SellerId=A6WWS5LKYVEJ8&Signature=HTmMkKGW0ckghqIQwV4hH/eqonRg8Byd2fhpfWw5Kio=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-07-12T14:35:14-04:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Date:
      - Fri, 12 Jul 2013 18:36:36 GMT
      X-Mws-Request-Id:
      - befa7b4c-e6e2-4ec3-ac66-4b5dcafdd195
      X-Mws-Timestamp:
      - '2013-07-12T18:36:36.523Z'
      X-Mws-Response-Context:
      - 2HoCRR8XC3ojppZ7BWhMS+7okoK8F4vuVommsSu08elxRBIOOKxGh07jElKxJwJA7FqNQwDTWGs=
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n<ListOrdersResponse xmlns=\"https://mws.amazonservices.com/Orders/2011-01-01\">\n
        \ <ListOrdersResult>\n    <LastUpdatedBefore>2013-07-12T18:34:36Z</LastUpdatedBefore>\n
        \   <Orders>\n      <Order>\n        <ShipmentServiceLevelCategory>Standard</ShipmentServiceLevelCategory>\n
        \       <OrderTotal>\n          <Amount>5.53</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </OrderTotal>\n        <ShipServiceLevel>Std Cont US Street Addr</ShipServiceLevel>\n
        \       <MarketplaceId>ATVPDKIKX0DER</MarketplaceId>\n        <ShippingAddress>\n
        \         <Phone>2409971905</Phone>\n          <PostalCode>20837-3004</PostalCode>\n
        \         <Name>Wesley Scott Ketchum</Name>\n          <CountryCode>US</CountryCode>\n
        \         <StateOrRegion>MARYLAND</StateOrRegion>\n          <AddressLine1>19944
        SPURRIER AVE</AddressLine1>\n          <City>POOLESVILLE</City>\n        </ShippingAddress>\n
        \       <SalesChannel>Amazon.com</SalesChannel>\n        <ShippedByAmazonTFM>false</ShippedByAmazonTFM>\n
        \       <OrderType>StandardOrder</OrderType>\n        <BuyerEmail>knsrqr1h8bkp9yh@marketplace.amazon.com</BuyerEmail>\n
        \       <FulfillmentChannel>MFN</FulfillmentChannel>\n        <OrderStatus>Unshipped</OrderStatus>\n
        \       <BuyerName>wes ketchum</BuyerName>\n        <LastUpdateDate>2013-07-12T13:52:55Z</LastUpdateDate>\n
        \       <PurchaseDate>2013-07-12T13:22:40Z</PurchaseDate>\n        <NumberOfItemsUnshipped>1</NumberOfItemsUnshipped>\n
        \       <NumberOfItemsShipped>0</NumberOfItemsShipped>\n        <AmazonOrderId>104-4489057-1313801</AmazonOrderId>\n
        \       <PaymentMethod>Other</PaymentMethod>\n      </Order>\n    </Orders>\n
        \ </ListOrdersResult>\n  <ResponseMetadata>\n    <RequestId>befa7b4c-e6e2-4ec3-ac66-4b5dcafdd195</RequestId>\n
        \ </ResponseMetadata>\n</ListOrdersResponse>\n"
  recorded_at: Fri, 12 Jul 2013 18:35:14 GMT
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrderItems&AmazonOrderId=104-4489057-1313801&MarketplaceId.Id.1=ATVPDKIKX0DER&SellerId=A6WWS5LKYVEJ8&Signature=bsuJEAy7SNi/1KgHnHyjtgcJZPOEp72P8y4lRNSvLcc=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-07-12T14:35:14-04:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Date:
      - Fri, 12 Jul 2013 18:36:36 GMT
      X-Mws-Request-Id:
      - 6538d077-6ea4-4830-816a-4c7388076166
      X-Mws-Timestamp:
      - '2013-07-12T18:36:36.865Z'
      X-Mws-Response-Context:
      - 2HoCRR8XC3ojppZ7BWhMS+7okoK8F4vuVommsSu08elxRBIOOKxGh07jElKxJwJA7FqNQwDTWGs=
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\n<ListOrderItemsResponse xmlns=\"https://mws.amazonservices.com/Orders/2011-01-01\">\n
        \ <ListOrderItemsResult>\n    <OrderItems>\n      <OrderItem>\n        <OrderItemId>04985691558298</OrderItemId>\n
        \       <GiftWrapPrice>\n          <Amount>0.00</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </GiftWrapPrice>\n        <QuantityOrdered>1</QuantityOrdered>\n        <GiftWrapTax>\n
        \         <Amount>0.00</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </GiftWrapTax>\n        <SellerSKU>OX-M0NP-AOD1</SellerSKU>\n        <Title>Bakers
        &amp; Chefs Dinner Forks - 36 pcs.</Title>\n        <ShippingTax>\n          <Amount>0.00</Amount>\n
        \         <CurrencyCode>USD</CurrencyCode>\n        </ShippingTax>\n        <ShippingPrice>\n
        \         <Amount>5.52</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </ShippingPrice>\n        <ItemTax>\n          <Amount>0.00</Amount>\n
        \         <CurrencyCode>USD</CurrencyCode>\n        </ItemTax>\n        <ItemPrice>\n
        \         <Amount>0.01</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </ItemPrice>\n        <PromotionDiscount>\n          <Amount>0.00</Amount>\n
        \         <CurrencyCode>USD</CurrencyCode>\n        </PromotionDiscount>\n
        \       <ASIN>B003DQ25RE</ASIN>\n        <ConditionId>Refurbished</ConditionId>\n
        \       <QuantityShipped>0</QuantityShipped>\n        <ConditionSubtypeId>Refurbished</ConditionSubtypeId>\n
        \       <ShippingDiscount>\n          <Amount>0.00</Amount>\n          <CurrencyCode>USD</CurrencyCode>\n
        \       </ShippingDiscount>\n      </OrderItem>\n    </OrderItems>\n    <AmazonOrderId>104-4489057-1313801</AmazonOrderId>\n
        \ </ListOrderItemsResult>\n  <ResponseMetadata>\n    <RequestId>6538d077-6ea4-4830-816a-4c7388076166</RequestId>\n
        \ </ResponseMetadata>\n</ListOrderItemsResponse>\n"
  recorded_at: Fri, 12 Jul 2013 18:35:14 GMT
recorded_with: VCR 2.5.0
