---
http_interactions:
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=GetOrder&AmazonOrderId.Id.1=102-1580746-9061828&MarketplaceId.Id.1=ATVPDKIKX0DER&SellerId=A6WWS5LKYVEJ8&Signature=GQVrKcI/xeN04Zg6Nhh7YRMj0k1dfOcjdSxYisCEPzw=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-08-23T19:25:14-03:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Date:
      - Fri, 23 Aug 2013 20:29:46 GMT
      X-Mws-Request-Id:
      - 5ead4b41-e321-4b0f-bd51-e86c3b04cba4
      X-Mws-Timestamp:
      - '2013-08-23T20:29:45.982Z'
      X-Mws-Response-Context:
      - kZ2KW9BDAJdhXMG2YagdWABp63m0QM2gRWrQXB222i3JC1SbJzTBjpjLz5x0+u+js6k49qms6jI=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetOrderResponse xmlns="https://mws.amazonservices.com/Orders/2011-01-01">
          <GetOrderResult>
            <Orders>
              <Order>
                <ShipmentServiceLevelCategory>Standard</ShipmentServiceLevelCategory>
                <OrderTotal>
                  <Amount>10.51</Amount>
                  <CurrencyCode>USD</CurrencyCode>
                </OrderTotal>
                <ShipServiceLevel>Std Cont US Street Addr</ShipServiceLevel>
                <MarketplaceId>ATVPDKIKX0DER</MarketplaceId>
                <SalesChannel>Amazon.com</SalesChannel>
                <ShippingAddress>
                  <Phone>571-213-3103</Phone>
                  <PostalCode>20175</PostalCode>
                  <Name>Chris Mar</Name>
                  <CountryCode>US</CountryCode>
                  <StateOrRegion>VA</StateOrRegion>
                  <AddressLine1>112 Alpine Dr</AddressLine1>
                  <City>Leesburg</City>
                </ShippingAddress>
                <ShippedByAmazonTFM>false</ShippedByAmazonTFM>
                <OrderType>StandardOrder</OrderType>
                <BuyerEmail>ht8hmlj3gd4zp9v@marketplace.amazon.com</BuyerEmail>
                <FulfillmentChannel>MFN</FulfillmentChannel>
                <OrderStatus>Unshipped</OrderStatus>
                <BuyerName>Christopher Mar</BuyerName>
                <LastUpdateDate>2013-08-02T16:42:51Z</LastUpdateDate>
                <PurchaseDate>2013-08-02T16:12:37Z</PurchaseDate>
                <NumberOfItemsUnshipped>2</NumberOfItemsUnshipped>
                <NumberOfItemsShipped>0</NumberOfItemsShipped>
                <PaymentMethod>Other</PaymentMethod>
                <AmazonOrderId>102-1580746-9061828</AmazonOrderId>
              </Order>
            </Orders>
          </GetOrderResult>
          <ResponseMetadata>
            <RequestId>5ead4b41-e321-4b0f-bd51-e86c3b04cba4</RequestId>
          </ResponseMetadata>
        </GetOrderResponse>
  recorded_at: Fri, 23 Aug 2013 22:25:14 GMT
- request:
    method: get
    uri: https://mws.amazonservices.com/Orders/2011-01-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListOrderItems&AmazonOrderId=102-1580746-9061828&MarketplaceId.Id.1=ATVPDKIKX0DER&SellerId=A6WWS5LKYVEJ8&Signature=NzpiRAuJyy2jzzwW45P31qmkwt88iUV3ZmhpHW/y4y4=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-08-23T19:25:14-03:00&Version=2011-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Date:
      - Fri, 23 Aug 2013 20:29:46 GMT
      X-Mws-Request-Id:
      - 244fc928-5b76-40cc-8d92-7b45dbcfab4a
      X-Mws-Timestamp:
      - '2013-08-23T20:29:46.833Z'
      X-Mws-Response-Context:
      - 29zXgBrE1ZEXfKInQCoZtLj3M/HqzISpb2LKrJfnP/PQ+Hh9mFlgn50SojCt0/ReMv/jukQ2UCaM
        1xOL3QDGpA==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <ListOrderItemsResponse xmlns="https://mws.amazonservices.com/Orders/2011-01-01">
          <ListOrderItemsResult>
            <OrderItems>
              <OrderItem>
                <OrderItemId>36568380816218</OrderItemId>
                <GiftWrapPrice>
                  <Amount>0.00</Amount>
                  <CurrencyCode>USD</CurrencyCode>
                </GiftWrapPrice>
                <QuantityOrdered>2</QuantityOrdered>
                <GiftWrapTax>
                  <Amount>0.00</Amount>
                  <CurrencyCode>USD</CurrencyCode>
                </GiftWrapTax>
                <SellerSKU>TN-A5IR-FXBG</SellerSKU>
                <Title>Ginsu 04817 International Traditions 14-Piece Knife Set with Block, Natural</Title>
                <ShippingTax>
                  <Amount>0.00</Amount>
                  <CurrencyCode>USD</CurrencyCode>
                </ShippingTax>
                <ShippingPrice>
                  <Amount>10.49</Amount>
                  <CurrencyCode>USD</CurrencyCode>
                </ShippingPrice>
                <ItemTax>
                  <Amount>0.00</Amount>
                  <CurrencyCode>USD</CurrencyCode>
                </ItemTax>
                <ItemPrice>
                  <Amount>0.02</Amount>
                  <CurrencyCode>USD</CurrencyCode>
                </ItemPrice>
                <PromotionDiscount>
                  <Amount>0.00</Amount>
                  <CurrencyCode>USD</CurrencyCode>
                </PromotionDiscount>
                <ConditionId>Refurbished</ConditionId>
                <ASIN>B0006TJ7HM</ASIN>
                <QuantityShipped>0</QuantityShipped>
                <ConditionSubtypeId>Refurbished</ConditionSubtypeId>
                <ShippingDiscount>
                  <Amount>0.00</Amount>
                  <CurrencyCode>USD</CurrencyCode>
                </ShippingDiscount>
              </OrderItem>
            </OrderItems>
            <AmazonOrderId>102-1580746-9061828</AmazonOrderId>
          </ListOrderItemsResult>
          <ResponseMetadata>
            <RequestId>244fc928-5b76-40cc-8d92-7b45dbcfab4a</RequestId>
          </ResponseMetadata>
        </ListOrderItemsResponse>
  recorded_at: Fri, 23 Aug 2013 22:25:14 GMT
recorded_with: VCR 2.5.0
