---
http_interactions:
- request:
    method: get
    uri: https://mws.amazonservices.com/FulfillmentInventory/2010-10-01?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=ListInventorySupply&MarketplaceId.Id.1=ATVPDKIKX0DER&SellerId=A6WWS5LKYVEJ8&SellerSkus.member.1=OX-M0NP-AOD1&Signature=xDNd2UfXfOx2uK%2BoOvez951grA0pXTsFQDbERK47lIY=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-10-21T18:30:14-02:00&Version=2010-10-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mws-Request-Id:
      - f01a950c-1221-4471-8bb6-d282a667ec1d
      X-Mws-Timestamp:
      - '2013-10-21T19:30:40.927Z'
      X-Mws-Response-Context:
      - NT6JfEJHV/LZk0aHdSFJD7nSxoHFpP9Srrx9cm/J/G16+IjlENlyqFCZAN7K6iYPlu2WIAsFmSI=
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <ListInventorySupplyResponse xmlns="http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/">
          <ListInventorySupplyResult>
            <InventorySupplyList>
              <member>
                <SellerSKU>OX-M0NP-AOD1</SellerSKU>
                <TotalSupplyQuantity>0</TotalSupplyQuantity>
                <InStockSupplyQuantity>0</InStockSupplyQuantity>
              </member>
            </InventorySupplyList>
          </ListInventorySupplyResult>
          <ResponseMetadata>
            <RequestId>f01a950c-1221-4471-8bb6-d282a667ec1d</RequestId>
          </ResponseMetadata>
        </ListInventorySupplyResponse>
  recorded_at: Mon, 21 Oct 2013 20:30:14 GMT
recorded_with: VCR 2.5.0
