---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=GetFeedSubmissionResult&FeedSubmissionId=8253017998&SellerId=A6WWS5LKYVEJ8&Signature=Kt/fwgW1rsc7k7/mwXU7UJvEP%2B8aQUbvG0hJehxG%2BHc=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-10-22T21:39:01-04:00&Version=2009-01-01
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mws-Quota-Max:
      - '60.0'
      X-Mws-Quota-Remaining:
      - '60.0'
      X-Mws-Quota-Resetson:
      - Wed,23 Oct 2013 01:42:00 UTC
      Content-Md5:
      - y3eD5tpLVHTbPC55rVJC4w==
      X-Mws-Response-Context:
      - KWYu4GNs7TF1wkGIoHuL/al6rQCsBGzM2ZdqgLMLFgmSBRAHV4yvASDqqe9b2R/whovZkUqP0l2D
        T3mv/79YPXD4ChuFx3j3
      - LrNK1zY9A1QHSTFEkUcFqJzdjApaycoCDX3rDFghcIMHRG70LrHkKG0/9vDaBnmkB5eTVwOH9Fk=
      X-Amz-Request-Id:
      - cae68afe-941d-4060-ba51-7b4b290e7406
      X-Mws-Request-Id:
      - cae68afe-941d-4060-ba51-7b4b290e7406
      X-Mws-Timestamp:
      - '2013-10-23T01:39:47.299Z'
      Content-Type:
      - application/octet-stream
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<AmazonEnvelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:noNamespaceSchemaLocation=\"amzn-envelope.xsd\">\n\t<Header>\n\t\t<DocumentVersion>1.02</DocumentVersion>\n\t\t<MerchantIdentifier>M_WESKETCHUM_1357503</MerchantIdentifier>\n\t</Header>\n\t<MessageType>ProcessingReport</MessageType>\n\t<Message>\n\t\t<MessageID>1</MessageID>\n\t\t<ProcessingReport>\n\t\t\t<DocumentTransactionID>8253017998</DocumentTransactionID>\n\t\t\t<StatusCode>Complete</StatusCode>\n\t\t\t<ProcessingSummary>\n\t\t\t\t<MessagesProcessed>1</MessagesProcessed>\n\t\t\t\t<MessagesSuccessful>1</MessagesSuccessful>\n\t\t\t\t<MessagesWithError>0</MessagesWithError>\n\t\t\t\t<MessagesWithWarning>0</MessagesWithWarning>\n\t\t\t</ProcessingSummary>\n\t\t</ProcessingReport>\n\t</Message>\n</AmazonEnvelope>"
  recorded_at: Wed, 23 Oct 2013 01:39:01 GMT
recorded_with: VCR 2.6.0
