---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=GetFeedSubmissionResult&FeedSubmissionId=8259593438&SellerId=A6WWS5LKYVEJ8&Signature=AOg4sxwbpmpaTLqIYCT9NFYbcu0MH/QppctjtqDtPK4=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-10-23T14:44:11-03:00&Version=2009-01-01
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mws-Quota-Max:
      - '60.0'
      X-Mws-Quota-Remaining:
      - '53.0'
      X-Mws-Quota-Resetson:
      - Wed,23 Oct 2013 17:42:00 UTC
      Content-Md5:
      - 0p5mKcOPZ2paoPqNbKy4Dw==
      X-Mws-Response-Context:
      - KWYu4GNs7TF1wkGIoHuL/al6rQCsBGzM2ZdqgLMLFgmSBRAHV4yvASDqqe9b2R/whovZkUqP0l2D
        T3mv/79YPXD4ChuFx3j3
      - oNsw7FTFSAI57QAADrPOzzxzQXdBT244QUXSx8UWzpo/ewl46jbVrxgMBMKGtj8S1aOutc0xWT/S
        HvrkxC8wTg==
      X-Amz-Request-Id:
      - df5164f5-d8b0-43fe-b4ad-f81008eec537
      X-Mws-Request-Id:
      - df5164f5-d8b0-43fe-b4ad-f81008eec537
      X-Mws-Timestamp:
      - '2013-10-23T16:52:11.410Z'
      Content-Type:
      - application/octet-stream
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<AmazonEnvelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:noNamespaceSchemaLocation=\"amzn-envelope.xsd\">\n\t<Header>\n\t\t<DocumentVersion>1.02</DocumentVersion>\n\t\t<MerchantIdentifier>M_WESKETCHUM_1357503</MerchantIdentifier>\n\t</Header>\n\t<MessageType>ProcessingReport</MessageType>\n\t<Message>\n\t\t<MessageID>1</MessageID>\n\t\t<ProcessingReport>\n\t\t\t<DocumentTransactionID>8259593438</DocumentTransactionID>\n\t\t\t<StatusCode>Complete</StatusCode>\n\t\t\t<ProcessingSummary>\n\t\t\t\t<MessagesProcessed>1</MessagesProcessed>\n\t\t\t\t<MessagesSuccessful>1</MessagesSuccessful>\n\t\t\t\t<MessagesWithError>0</MessagesWithError>\n\t\t\t\t<MessagesWithWarning>0</MessagesWithWarning>\n\t\t\t</ProcessingSummary>\n\t\t</ProcessingReport>\n\t</Message>\n</AmazonEnvelope>"
  recorded_at: Wed, 23 Oct 2013 17:44:11 GMT
recorded_with: VCR 2.6.0
