---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=GetFeedSubmissionResult&FeedSubmissionId=8259737688&SellerId=A6WWS5LKYVEJ8&Signature=%2BZxvJtu8GZ3mMK2nLbhuSQRk3MnyLgZMTTXwvhwhgMY=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-10-23T14:44:11-03:00&Version=2009-01-01
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mws-Quota-Max:
      - '60.0'
      X-Mws-Quota-Remaining:
      - '43.0'
      X-Mws-Quota-Resetson:
      - Wed,23 Oct 2013 17:42:00 UTC
      Content-Md5:
      - RiouvEV4b9z9zyCmxOnbFA==
      X-Mws-Response-Context:
      - D0xKfvvJAkPaFBAWnqmJbB1GhalqpgRabifVAcDi+DzTvLRzYVHDBsKSddbaUT4SBn96XQ61q/g=
      - KWYu4GNs7TF1wkGIoHuL/al6rQCsBGzM2ZdqgLMLFgmSBRAHV4yvASDqqe9b2R/whovZkUqP0l2D
        T3mv/79YPXD4ChuFx3j3
      X-Amz-Request-Id:
      - d6225623-9f8e-49ee-bbdd-5ea8279c4801
      X-Mws-Request-Id:
      - d6225623-9f8e-49ee-bbdd-5ea8279c4801
      X-Mws-Timestamp:
      - '2013-10-23T17:13:23.713Z'
      Content-Type:
      - application/octet-stream
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<AmazonEnvelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:noNamespaceSchemaLocation=\"amzn-envelope.xsd\">\n\t<Header>\n\t\t<DocumentVersion>1.02</DocumentVersion>\n\t\t<MerchantIdentifier>M_WESKETCHUM_1357503</MerchantIdentifier>\n\t</Header>\n\t<MessageType>ProcessingReport</MessageType>\n\t<Message>\n\t\t<MessageID>1</MessageID>\n\t\t<ProcessingReport>\n\t\t\t<DocumentTransactionID>8259737688</DocumentTransactionID>\n\t\t\t<StatusCode>Complete</StatusCode>\n\t\t\t<ProcessingSummary>\n\t\t\t\t<MessagesProcessed>1</MessagesProcessed>\n\t\t\t\t<MessagesSuccessful>0</MessagesSuccessful>\n\t\t\t\t<MessagesWithError>1</MessagesWithError>\n\t\t\t\t<MessagesWithWarning>0</MessagesWithWarning>\n\t\t\t</ProcessingSummary>\n\t\t\t<Result>\n\t\t\t\t<MessageID>1</MessageID>\n\t\t\t\t<ResultCode>Error</ResultCode>\n\t\t\t\t<ResultMessageCode>13013</ResultMessageCode>\n\t\t\t\t<ResultDescription>This
        SKU does not exist in the Amazon.com catalog. Your inventory data was not
        processed. For reasons why, and help fixing this, see http://sellercentral.amazon.com/gp/errorcode/13013</ResultDescription>\n\t\t\t\t<AdditionalInfo>\n\t\t\t\t\t<SKU>invalid</SKU>\n\t\t\t\t</AdditionalInfo>\n\t\t\t</Result>\n\t\t</ProcessingReport>\n\t</Message>\n</AmazonEnvelope>"
  recorded_at: Wed, 23 Oct 2013 17:44:11 GMT
recorded_with: VCR 2.6.0
