---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=GetFeedSubmissionResult&FeedSubmissionId=8259716402&SellerId=A6WWS5LKYVEJ8&Signature=Hy2WZMLZNahJSr5K8bkPS0/OiPrbGgMUKf/Vld4l%2BLQ=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-10-23T14:44:11-03:00&Version=2009-01-01
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Mws-Quota-Max:
      - '60.0'
      X-Mws-Quota-Remaining:
      - '43.0'
      X-Mws-Quota-Resetson:
      - Wed,23 Oct 2013 17:42:00 UTC
      X-Mws-Response-Context:
      - v049oRuyxWM7PbuHSsl8m9JFz9B5KO/6+/ugWrkvuzT0OhwYTQMuARfr1qSdbLeyNjNkivVCr/fI
        //cML0ma48PVBzrkjAj7
      - xrYgKPyk3uU2GaxEzLOKf+1ZCiHYuMa1Qn+mSNE5Jz9MG4VZLl6RSHjK+TcTiXq2igsxah23Uak=
      X-Mws-Request-Id:
      - b8171705-29d9-4638-a83b-b6681c37a21a
      X-Mws-Timestamp:
      - '2013-10-23T17:08:34.533Z'
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <ErrorResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><Error><Type>Sender</Type><Code>FeedProcessingResultNotReady</Code><Message>Feed Submission Result is not ready for Feed Submission Id: 8259716402</Message><Detail/></Error><RequestID>b8171705-29d9-4638-a83b-b6681c37a21a</RequestID></ErrorResponse>
  recorded_at: Wed, 23 Oct 2013 17:44:11 GMT
recorded_with: VCR 2.6.0
