---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=SubmitFeed&FeedType=_POST_ORDER_FULFILLMENT_DATA_&SellerId=A6WWS5LKYVEJ8&Signature=sf9GP%2BbEAOvlMzLJoxT/umGpSYBRZ5j9t/xSOY2Mr5I=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-10-22T13:22:33-04:00&Version=2009-01-01
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <AmazonEnvelope>
          <Header>
            <DocumentVersion>1.01</DocumentVersion>
            <MerchantIdentifier>A6WWS5LKYVEJ8</MerchantIdentifier>
          </Header>
          <MessageType>OrderFulfillment</MessageType>
          <PurgeAndReplace>False</PurgeAndReplace>
          <Message>
            <MessageID>1</MessageID>
            <OperationType>Update</OperationType>
            <OrderFulfillment>
              <AmazonOrderID>103-6652650-4045858</AmazonOrderID>
              <MerchantFulfillmentID>103-6652650-4045858</MerchantFulfillmentID>
              <FulfillmentDate>2013-22-10T13:22:33</FulfillmentDate>
              <FulfillmentData>
                <CarrierName>Economy (5-10 Business Days - $0.00)</CarrierName>
                <ShippingMethod>Economy (5-10 Business Days - $0.00)</ShippingMethod>
                <ShipperTrackingNumber>915293072790129</ShipperTrackingNumber>
              </FulfillmentData>
              <Item>
                <AmazonOrderItemCode>27368845791002</AmazonOrderItemCode>
                <MerchantFulfillmentItemID>27368845791002</MerchantFulfillmentItemID>
                <Quantity>2</Quantity>
              </Item>
            </OrderFulfillment>
          </Message>
        </AmazonEnvelope>
    headers:
      Content-Md5:
      - tGhFueEVTcrzRoVbgbUszA==
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mws-Quota-Max:
      - '30.0'
      X-Mws-Quota-Remaining:
      - '29.0'
      X-Mws-Quota-Resetson:
      - Tue,22 Oct 2013 17:42:00 UTC
      X-Mws-Response-Context:
      - IP6Jymra/2UaLljnFTSaYTOsCeNj5one614ffjJpo886Rc8NU0gwoUnq2Ni+c/Gf8UwQNKAAKG8=
      - zUinIvN3ivHgCZPzeukw5shNobuxdHHzxD04YRoSmq992IVJRWM4ezqNFRYX5/i1ObLKrfimsM+6
        plXynh5a1uhbj6WIuJSh
      X-Amz-Request-Id:
      - 6687b0a2-1193-428e-88b5-59f5ba4c9735
      X-Mws-Request-Id:
      - 6687b0a2-1193-428e-88b5-59f5ba4c9735
      X-Mws-Timestamp:
      - '2013-10-22T17:25:09.793Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <SubmitFeedResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><SubmitFeedResult><FeedSubmissionInfo><FeedSubmissionId>8252123906</FeedSubmissionId><FeedType>_POST_ORDER_FULFILLMENT_DATA_</FeedType><SubmittedDate>2013-10-22T17:25:09+00:00</SubmittedDate><FeedProcessingStatus>_SUBMITTED_</FeedProcessingStatus></FeedSubmissionInfo></SubmitFeedResult><ResponseMetadata><RequestId>6687b0a2-1193-428e-88b5-59f5ba4c9735</RequestId></ResponseMetadata></SubmitFeedResponse>
  recorded_at: Tue, 22 Oct 2013 17:22:33 GMT
recorded_with: VCR 2.6.0
