---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=SubmitFeed&FeedType=_POST_INVENTORY_AVAILABILITY_DATA_&SellerId=A6WWS5LKYVEJ8&Signature=NhMaJtaGM1ZvLWlWUtotsXNN725K%2BOZc9RmBCsWGgX0=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-10-23T14:41:11-03:00&Version=2009-01-01
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <AmazonEnvelope>
          <Header>
            <DocumentVersion>1.01</DocumentVersion>
            <MerchantIdentifier>A6WWS5LKYVEJ8</MerchantIdentifier>
          </Header>
          <MessageType>Inventory</MessageType>
          <Message>
            <MessageID>1</MessageID>
            <OperationType>Update</OperationType>
            <Inventory>
              <SKU>2Y-0BPV-TWZY</SKU>
              <Quantity>20</Quantity>
            </Inventory>
          </Message>
        </AmazonEnvelope>
    headers:
      Content-Md5:
      - t1lu5irJ9v/uU9k2JO4zDw==
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mws-Quota-Max:
      - '30.0'
      X-Mws-Quota-Remaining:
      - '29.0'
      X-Mws-Quota-Resetson:
      - Wed,23 Oct 2013 17:42:00 UTC
      X-Mws-Response-Context:
      - KWYu4GNs7TF1wkGIoHuL/al6rQCsBGzM2ZdqgLMLFgmSBRAHV4yvASDqqe9b2R/whovZkUqP0l2D
        T3mv/79YPXD4ChuFx3j3
      - fnjt2MyYzZl+7C+PYl79UMi9ENNBOIrG0FIsOCbDXKklEup6S9gz5TnTRBqt6kEueuWoCi50tRed
        8zi5wLwJYw==
      X-Amz-Request-Id:
      - 79fad71e-108f-4fb2-b655-65d1ac1b202c
      X-Mws-Request-Id:
      - 79fad71e-108f-4fb2-b655-65d1ac1b202c
      X-Mws-Timestamp:
      - '2013-10-23T16:50:01.080Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <SubmitFeedResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><SubmitFeedResult><FeedSubmissionInfo><FeedSubmissionId>8259603164</FeedSubmissionId><FeedType>_POST_INVENTORY_AVAILABILITY_DATA_</FeedType><SubmittedDate>2013-10-23T16:50:01+00:00</SubmittedDate><FeedProcessingStatus>_SUBMITTED_</FeedProcessingStatus></FeedSubmissionInfo></SubmitFeedResult><ResponseMetadata><RequestId>79fad71e-108f-4fb2-b655-65d1ac1b202c</RequestId></ResponseMetadata></SubmitFeedResponse>
  recorded_at: Wed, 23 Oct 2013 17:41:11 GMT
recorded_with: VCR 2.6.0
