---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=AKIAIR24VLFSLJRUCXBQ&Action=SubmitFeed&FeedType=_POST_ORDER_FULFILLMENT_DATA_&SellerId=A6WWS5LKYVEJ8&Signature=l8GaotnVPnuehZXElxrLxiF9x7noE21SCiJMmDUF/94=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-10-22T15:51:11-04:00&Version=2009-01-01
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <AmazonEnvelope>
          <Header>
            <DocumentVersion>1.01</DocumentVersion>
            <MerchantIdentifier>A6WWS5LKYVEJ8</MerchantIdentifier>
          </Header>
          <MessageType>OrderFulfillment</MessageType>
          <PurgeAndReplace>false</PurgeAndReplace>
          <Message>
            <MessageID>1</MessageID>
            <OperationType>Update</OperationType>
            <OrderFulfillment>
              <AmazonOrderID>103-6652650-4045858</AmazonOrderID>
              <MerchantFulfillmentID>10366526504045858</MerchantFulfillmentID>
              <FulfillmentDate>2013-10-22T15:51:11</FulfillmentDate>
              <FulfillmentData>
                <CarrierName>Economy (5-10 Business Days - $0.00)</CarrierName>
                <ShippingMethod>Economy (5-10 Business Days - $0.00)</ShippingMethod>
                <ShipperTrackingNumber>915293072790129</ShipperTrackingNumber>
              </FulfillmentData>
              <Item>
                <AmazonOrderItemCode>27368845791002</AmazonOrderItemCode>
                <MerchantFulfillmentItemID>27368845791002</MerchantFulfillmentItemID>
                <Quantity>1</Quantity>
              </Item>
            </OrderFulfillment>
          </Message>
        </AmazonEnvelope>
    headers:
      Content-Md5:
      - FV2OAPO2T6kMAi3SILa3Og==
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mws-Quota-Max:
      - '30.0'
      X-Mws-Quota-Remaining:
      - '29.0'
      X-Mws-Quota-Resetson:
      - Tue,22 Oct 2013 20:42:00 UTC
      X-Mws-Response-Context:
      - kY1K8xOAIWLRpt/rVB2ZK1wS1VE876Wm4oI1pF4V1aPrKnpiCLY0V4T2reTMH1nxNS3I+4KhVdU=
      - zUinIvN3ivHgCZPzeukw5shNobuxdHHzxD04YRoSmq992IVJRWM4ezqNFRYX5/i1ObLKrfimsM+6
        plXynh5a1uhbj6WIuJSh
      X-Amz-Request-Id:
      - 5d9a8cbb-aba4-4df7-b89c-8851114caa8d
      X-Mws-Request-Id:
      - 5d9a8cbb-aba4-4df7-b89c-8851114caa8d
      X-Mws-Timestamp:
      - '2013-10-22T19:57:09.573Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <SubmitFeedResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><SubmitFeedResult><FeedSubmissionInfo><FeedSubmissionId>8253017998</FeedSubmissionId><FeedType>_POST_ORDER_FULFILLMENT_DATA_</FeedType><SubmittedDate>2013-10-22T19:57:09+00:00</SubmittedDate><FeedProcessingStatus>_SUBMITTED_</FeedProcessingStatus></FeedSubmissionInfo></SubmitFeedResult><ResponseMetadata><RequestId>5d9a8cbb-aba4-4df7-b89c-8851114caa8d</RequestId></ResponseMetadata></SubmitFeedResponse>
  recorded_at: Tue, 22 Oct 2013 19:51:11 GMT
recorded_with: VCR 2.6.0
